.freelancerBlock {
	min-height: 20vh;
	background-color: lightslategray;
}

.freelancerContainer {
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	border: 1px solid;
}

.title {
}

.btn {
}
