.skillsBlock{
    min-height: 70vh;
    background-color: bisque;
}
.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.skillsTitle {
    background-color: gold;
}

.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
